.register__signin {
  display: block;
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  margin: 20px 0 0;
  padding: 0;
  transition: 0.8s ease;
  text-decoration: none;
  min-height: 17px;
}

.register__signin:hover {
  opacity: .6;
}

